<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.freshclam.job</string>
	<key>Program</key>
	<string>/usr/local/bin/freshclam</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/Shared/freshclam.err</string>
	<key>StandardOutPath</key>
	<string>/Users/Shared/freshclam.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
